<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>pokemans</title>
    </head>
    <body>

        <form action="/type">
            Type
            <input type="ty" value="enter type">
            <br>
            Height Range
            <input type="mini" value="enter min">
            <input type="maxi" value="enter max">
            <br>
            Rarity
            <input type="chance" value="enter max chance of appearing">
            
        </form>

    </body>
</html>
