<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>pokemans</title>
    </head>
    <body>

        <form action="/type">
            Type
            <input type="text" name="ty" value="enter type">
            <br>
        </form>
        <form action="/height">
            Height Range
            <input type="text" name="mini" value="enter min">
            <input type="text" name="maxi" value="enter max">
            <br>
        </form>
        <form action="/rare">
            Rarity
            <input type="text" name="chance" value="enter max chance of appearing">
        </form>

    </body>
</html>
